{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password {% endblock %}
{% block content %} 


  <div class="container">

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      {% include 'includes/alerts.html' %}

      <div class="card-body">
      <h4 class="card-title mb-4 text-center">Forgot Password ?</h4>
      <form action="{% url 'forgot-password' %}" method="post">
        {% csrf_token %}
          {{form.email.label_tag}}
          {{form.email}}
          <div class="text-danger">{{form.email.errors}}</div>
          <button class=" btn btn-success mt-5">Get Link</button>
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

  </div>
  <!-- ============================ COMPONENT LOGIN   ================================= -->

{% endblock %}
{% block script_files %}
<script src="{% static 'js/alerts.js' %}"></script>
{% endblock %}