
body {
    font-family: "Times New Roman", Times, serif;
    background: #f9f9f9;
    padding: 10px;
}
.certificate-container {
    width: 1200px; /* Or use max-width: 100%; if needed */
    max-width: 100%;
    margin: auto;
    background: white;
    text-align: center;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
}


.logo {
    width: 100px;  /* Ensure the logo fits nicely within the container */
    max-width: 100%;
    margin-top: 20px;
}
.title {
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
    color: #0a0a23;
}
.subtitle {
    font-size: 22px;
    margin-top: 10px;
    color: #555;
}
.content {
    margin-top: 50px;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}


.certificate-number {
    text-align: right;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-right: 1rem;
    color: #444;
}

.company-name {
    color: #006400; /* DarkGreen */
    font-weight: bold;
    font-size: 2rem;
}


.signature {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px; /* Optional: adds spacing between blocks */
    flex-wrap: wrap; /* Allows wrap if space is limited */
    padding: 0 20px;
}
.sign-block {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.sign-line {
    margin-top: 50px;
    border-top: 1px solid #000;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.qr-code {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    object-fit: contain;

}
